html,
body,#root, .App {
	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
	padding: 0;
	font-family: 'Alegreya';
}

.App {
	position: absolute;
	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
	padding: 0;
	font-family: 'Alegreya';
}

#map {
    position: fixed !important;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

#tweets {
    position: absolute;
    min-width: 100vw;
	height: calc(100vh - 3.1rem) !important;
	overflow: scroll;
}

#tweets > div {
	/* height: inherit !important; */
}

.twitter-timeline {
	/* height: inherit !important; */
	/* overflow: scroll; */
}

button#toggler {
	position: fixed;
	padding: 0;
	bottom: 0;
	left: 0;
	font-size: 1.8rem;
	height: 3rem;
	word-spacing: 5px;
	letter-spacing: 1px;
	width: calc(100vw - 1.75rem);
	border: 1px dashed white;
	outline: none;
	background-color: #222;
	color: white;
    font-family: 'Alegreya';
    z-index: 2;
}

.visible {
	z-index: 1;
}

.invisible {
	z-index: -1;
}
